div { text-align: center; width: 75%; margin: auto;}
.encabezado { width: 100%;}
.contenido { min-height: 300px; }
.contenido td { text-align: left;}
table th { font-size: 26px;}
table { margin: auto; font-size: 24px;}
button { font-size: 18px; border-radius: 10px; }
nav.navbar, footer { border-radius: 10px; margin: 20px; }
ion-icon { font-size: 20px; padding-right: 5px; padding-left: 5px;}